html, body {
  height: 100%;
  width: 100%;
  background: teal;
}
h1{
  text-align: center;
  color: black;

  
}
}
p{
  font-size: normal;
  font-family: sans-serif;
}
img {
  margin-left: 32.5%;
  margin-right: 0%;

  
  size: 25%;
  width: 40%;
}
